
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(53, 50, 50);
}

.box {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 8px 8px 20px #b1b1b1;
    border-radius: 10px;
    transition: 1s;
}


.top {
    height: 80px;
    width: 100%;
    background: rgb(35, 172, 236);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top h1 {
    color: #222;
    margin: 0;
    font-size: 34px;
    text-align: center;
    padding-top: 10px;
    font-family: monospace, arial, sans-serif;
}

.mid {
    width: 100%;
    height: 260px;
    background: rgb(148, 213, 243);
}

.mid .chat {
    width: 100%;
}

.mid .chat h2 {
    margin: 0;
    font-size: 28px;
    color: #333;
    padding: 30px 20px;
}

.mid .chat p {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    color: #333;
    background: rgb(148, 213, 243);
    padding: 50px 20px;
    letter-spacing: 0.04em;
    transition: 1s;
}

.input {
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.input input {
    width: 100%;
    height: 70px;
    font-size: 28px;
    outline: none;
    border: none;
    padding-left: 30px;
    padding-top: 0;
    background:#eee;
    color: #444;
}

@media screen and (max-width: 720px) {
    .box {
        width: 400px;
    }
}

@media screen and (max-width: 507px) {
    .box {
        margin: auto;
        width: 350px;
    }
}